In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mlp
%matplotlib inline

In [29]:
data = pd.read_csv("C:/Users/User/Desktop/Yukti/ML (Abhishek's Notebooks)/MSIT_ML_CLASS-master/datasets/titanic/train.csv")

In [30]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:
df = pd.DataFrame(data)

In [32]:
df.isnull()

#This function comes under the Pandas package. It returns a boolean matrix, True for NaN/NULL values otherwise False.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,True,False,False,False,False,True,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,False,False,False,False,False,True,False
9,False,False,False,False,False,False,False,False,False,False,True,False
10,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,True,False
13,False,False,False,False,False,False,False,False,False,False,True,False
14,False,False,False,False,False,False,False,False,False,False,True,False
15,False,False,False,False,False,False,False,False,False,False,True,False
16,False,False,False,False,False,False,False,False,False,False,True,False
17,False,False,False,False,False,True,False,False,False,False,True,False
18,False,False,False,False,False,False,False,False,False,False,True,False
19,False,False,False,False,False,True,False,False,False,False,True,False
20,False,False,False,False,False,False,False,False,False,False,True,False
21,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,True,False
23,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,True,False
25,False,False,False,False,False,False,False,False,False,False,True,False
26,False,False,False,False,False,True,False,False,False,False,True,False
27,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,True,False,False,False,False,True,False
29,False,False,False,False,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
861,False,False,False,False,False,False,False,False,False,False,True,False
862,False,False,False,False,False,False,False,False,False,False,False,False
863,False,False,False,False,False,True,False,False,False,False,True,False
864,False,False,False,False,False,False,False,False,False,False,True,False
865,False,False,False,False,False,False,False,False,False,False,True,False
866,False,False,False,False,False,False,False,False,False,False,True,False
867,False,False,False,False,False,False,False,False,False,False,False,False
868,False,False,False,False,False,True,False,False,False,False,True,False
869,False,False,False,False,False,False,False,False,False,False,True,False
870,False,False,False,False,False,False,False,False,False,False,True,False
871,False,False,False,False,False,False,False,False,False,False,False,False
872,False,False,False,False,False,False,False,False,False,False,False,False
873,False,False,False,False,False,False,False,False,False,False,True,False
874,False,False,False,False,False,False,False,False,False,False,True,False
875,False,False,False,False,False,False,False,False,False,False,True,False
876,False,False,False,False,False,False,False,False,False,False,True,False
877,False,False,False,False,False,False,False,False,False,False,True,False
878,False,False,False,False,False,True,False,False,False,False,True,False
879,False,False,False,False,False,False,False,False,False,False,False,False
880,False,False,False,False,False,False,False,False,False,False,True,False
881,False,False,False,False,False,False,False,False,False,False,True,False
882,False,False,False,False,False,False,False,False,False,False,True,False
883,False,False,False,False,False,False,False,False,False,False,True,False
884,False,False,False,False,False,False,False,False,False,False,True,False
885,False,False,False,False,False,False,False,False,False,False,True,False
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [33]:
df.isnull().sum()

#This function returns the column names, with number of NaN values associated with each column.

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [34]:
df.dropna()

#This functions deletes all the rows and columns having NaN/NULL values.
#It is not recomended because it can lead to huge data loss which is not a good practise while training a machine learning model.
#As seen in this example, the number of rows fall from 891 to 183, which is a significant dataloss.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1,0,36973,83.4750,C83,S
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.0,0,0,C.A. 29395,10.5000,F33,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.1750,E31,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
102,103,0,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.0,0,0,110465,52.0000,C110,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
123,124,1,2,"Webber, Miss. Susan",female,32.5,0,0,27267,13.0000,E101,S
124,125,0,1,"White, Mr. Percival Wayland",male,54.0,0,1,35281,77.2875,D26,S
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.0,0,2,11752,26.2833,D47,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.0,1,0,113803,53.1000,C123,S
139,140,0,1,"Giglio, Mr. Victor",male,24.0,0,0,PC 17593,79.2000,B86,C
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0000,F2,S
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5000,B19,S
174,175,0,1,"Smith, Mr. James Clinch",male,56.0,0,0,17764,30.6958,A7,C
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C
...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
741,742,0,1,"Cavendish, Mr. Tyrell William",male,36.0,1,0,19877,78.8500,C46,S
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S
748,749,0,1,"Marvin, Mr. Daniel Warner",male,19.0,1,0,113773,53.1000,D30,S
751,752,1,3,"Moor, Master. Meier",male,6.0,0,1,392096,12.4750,E121,S
759,760,1,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.0,0,0,110152,86.5000,B77,S
763,764,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.0,1,2,113760,120.0000,B96 B98,S
765,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S
772,773,0,2,"Mack, Mrs. (Mary)",female,57.0,0,0,S.O./P.P. 3,10.5000,E77,S
779,780,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.0,0,1,24160,211.3375,B3,S
781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.0,1,0,17474,57.0000,B20,S
782,783,0,1,"Long, Mr. Milton Clyde",male,29.0,0,0,113501,30.0000,D6,S
789,790,0,1,"Guggenheim, Mr. Benjamin",male,46.0,0,0,PC 17593,79.2000,B82 B84,C
796,797,1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S
802,803,1,1,"Carter, Master. William Thornton II",male,11.0,1,2,113760,120.0000,B96 B98,S
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S
809,810,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.0,1,0,113806,53.1000,E8,S
820,821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1,1,12749,93.5000,B69,S
823,824,1,3,"Moor, Mrs. (Beila)",female,27.0,0,1,392096,12.4750,E121,S
835,836,1,1,"Compton, Miss. Sara Rebecca",female,39.0,1,1,PC 17756,83.1583,E49,C
853,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [35]:
df.dropna(axis=1)

#In this case, since axis is set to 1, the number of columns reduce from 12 to 9.

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500
5,6,0,3,"Moran, Mr. James",male,0,0,330877,8.4583
6,7,0,1,"McCarthy, Mr. Timothy J",male,0,0,17463,51.8625
7,8,0,3,"Palsson, Master. Gosta Leonard",male,3,1,349909,21.0750
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,0,2,347742,11.1333
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,1,0,237736,30.0708
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,1,1,PP 9549,16.7000
11,12,1,1,"Bonnell, Miss. Elizabeth",female,0,0,113783,26.5500
12,13,0,3,"Saundercock, Mr. William Henry",male,0,0,A/5. 2151,8.0500
13,14,0,3,"Andersson, Mr. Anders Johan",male,1,5,347082,31.2750
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,0,0,350406,7.8542
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,0,0,248706,16.0000
16,17,0,3,"Rice, Master. Eugene",male,4,1,382652,29.1250
17,18,1,2,"Williams, Mr. Charles Eugene",male,0,0,244373,13.0000
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,1,0,345763,18.0000
19,20,1,3,"Masselmani, Mrs. Fatima",female,0,0,2649,7.2250
20,21,0,2,"Fynney, Mr. Joseph J",male,0,0,239865,26.0000
21,22,1,2,"Beesley, Mr. Lawrence",male,0,0,248698,13.0000
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,0,0,330923,8.0292
23,24,1,1,"Sloper, Mr. William Thompson",male,0,0,113788,35.5000
24,25,0,3,"Palsson, Miss. Torborg Danira",female,3,1,349909,21.0750
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,1,5,347077,31.3875
26,27,0,3,"Emir, Mr. Farred Chehab",male,0,0,2631,7.2250
27,28,0,1,"Fortune, Mr. Charles Alexander",male,3,2,19950,263.0000
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,0,0,330959,7.8792
29,30,0,3,"Todoroff, Mr. Lalio",male,0,0,349216,7.8958
...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,1,0,28134,11.5000
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,0,0,17466,25.9292
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,8,2,CA. 2343,69.5500
864,865,0,2,"Gill, Mr. John William",male,0,0,233866,13.0000
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,0,0,236852,13.0000
866,867,1,2,"Duran y More, Miss. Asuncion",female,1,0,SC/PARIS 2149,13.8583
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,0,0,PC 17590,50.4958
868,869,0,3,"van Melkebeke, Mr. Philemon",male,0,0,345777,9.5000
869,870,1,3,"Johnson, Master. Harold Theodor",male,1,1,347742,11.1333
870,871,0,3,"Balkic, Mr. Cerin",male,0,0,349248,7.8958
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,1,1,11751,52.5542
872,873,0,1,"Carlsson, Mr. Frans Olof",male,0,0,695,5.0000
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,0,0,345765,9.0000
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,1,0,P/PP 3381,24.0000
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,0,0,2667,7.2250
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,0,0,7534,9.8458
877,878,0,3,"Petroff, Mr. Nedelio",male,0,0,349212,7.8958
878,879,0,3,"Laleff, Mr. Kristo",male,0,0,349217,7.8958
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,0,1,11767,83.1583
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,0,1,230433,26.0000
881,882,0,3,"Markun, Mr. Johann",male,0,0,349257,7.8958
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,0,0,7552,10.5167
883,884,0,2,"Banfield, Mr. Frederick James",male,0,0,C.A./SOTON 34068,10.5000
884,885,0,3,"Sutehall, Mr. Henry Jr",male,0,0,SOTON/OQ 392076,7.0500
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,0,5,382652,29.1250
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500

In [36]:
#To solve this issue, we use Imputation which is the process of substituting the missing values in our dataset. 
#A customised function or the Imputer class provided by sklearn can be used for this purpose.

from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values="NaN", strategy='mean')
imputer = imputer.fit(df[['Age']])
df['Age'] = imputer.transform(df[['Age']])

C:\Users\User\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [37]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [38]:
df.drop(['Cabin'], axis=1, inplace=False)

#we drop the "Cabin" column since it has a lot of nan values which cannot be imputed 
#and the column does not provide any significant information for this problem

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,S
5,6,0,3,"Moran, Mr. James",male,29.699118,0,0,330877,8.4583,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.000000,1,1,PP 9549,16.7000,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.000000,0,0,113783,26.5500,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.000000,0,0,A/5. 2151,8.0500,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.000000,1,5,347082,31.2750,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.000000,0,0,350406,7.8542,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.000000,0,0,248706,16.0000,S
16,17,0,3,"Rice, Master. Eugene",male,2.000000,4,1,382652,29.1250,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,29.699118,0,0,244373,13.0000,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.000000,1,0,345763,18.0000,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,29.699118,0,0,2649,7.2250,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.000000,0,0,239865,26.0000,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.000000,0,0,248698,13.0000,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.000000,0,0,330923,8.0292,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.000000,0,0,113788,35.5000,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.000000,3,1,349909,21.0750,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.000000,1,5,347077,31.3875,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,29.699118,0,0,2631,7.2250,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,29.699118,0,0,330959,7.8792,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,29.699118,0,0,349216,7.8958,S
...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.000000,1,0,28134,11.5000,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.000000,0,0,17466,25.9292,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,29.699118,8,2,CA. 2343,69.5500,S
864,865,0,2,"Gill, Mr. John William",male,24.000000,0,0,233866,13.0000,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.000000,0,0,236852,13.0000,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.000000,1,0,SC/PARIS 2149,13.8583,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.000000,0,0,PC 17590,50.4958,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,29.699118,0,0,345777,9.5000,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.000000,1,1,347742,11.1333,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.000000,0,0,349248,7.8958,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.000000,1,1,11751,52.5542,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.000000,0,0,695,5.0000,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.000000,0,0,345765,9.0000,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.000000,1,0,P/PP 3381,24.0000,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.000000,0,0,2667,7.2250,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.000000,0,0,7534,9.8458,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.000000,0,0,349212,7.8958,S
878,879,0,3,"Laleff, Mr. Kristo",male,29.699118,0,0,349217,7.8958,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.000000,0,1,11767,83.1583,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.000000,0,1,230433,26.0000,S
881,882,0,3,"Markun, Mr. Johann",male,33.000000,0,0,349257,7.8958,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.000000,0,0,7552,10.5167,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.000000,0,0,C.A./SOTON 34068,10.5000,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.000000,0,0,SOTON/OQ 392076,7.0500,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.000000,0,5,382652,29.1250,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,Q

In [39]:
#In Standardization we transform our values such that the mean of the values is 0 and the standard deviation is 1.
#fit_transform is equivalent to using fit and then transform.
#fit function calculates the mean and standard deviation and the transform function actually standardizes the dataset.

from sklearn.preprocessing import StandardScaler
std = StandardScaler()
data1 = std.fit_transform(df)

ValueError: could not convert string to float: 'Braund, Mr. Owen Harris'

In [40]:
#Categorical variables are basically the variables that are discrete and not continuous.
#Two types: Ordinal(ordered) and Nominal(unordered).

#Ordinal Categorical Variables (Example:size, classlabel)
#using map() function:
df_cat = pd.DataFrame(data = [['green','M',10.1,'class1'],
                              ['blue','L',20.1,'class2'],
                              ['white','M',30.1,'class1']])
df_cat.columns = ['color','size','price','classlabel']

size_mapping = {'M':1,'L':2}
df_cat['size'] = df_cat['size'].map(size_mapping)

In [41]:
#usinf LabelEncoder() function:
from sklearn.preprocessing import LabelEncoder
class_le = LabelEncoder()
df_cat['classlabel'] = class_le.fit_transform(df_cat['classlabel'].values)

In [42]:
print(df_cat)

   color  size  price  classlabel
0  green     1   10.1           0
1   blue     2   20.1           1
2  white     1   30.1           0

In [ ]:
#Nominal Categorical Variables (Example:colour)
#using One-Hot Encoding
#In this technique, we essentially create â€™nâ€™ columns where n is the number of unique values that the nominal variable can take.
#The easiest way to use One-Hot Encoding is to use the get_dummies() function.
#get_dummies function considers only string variables
df_cat = pd.get_dummies(df_cat[['color','size','price']])

In [24]:
print(df_cat)

   size  price  color_blue  color_green  color_white
0     1   10.1           0            1            0
1     2   20.1           1            0            0
2     1   30.1           0            0            1

In [43]:
#Multicollinearity occurs in our dataset when we have features which are strongly dependent on each other.
#The easiest method to identify Multicollinearity is to just plot a pairplot and you can observe the relationships between 
#different features. If you get a linear relationship between 2 features then they are strongly co-related with each other 
#and there is multicollinearity in your dataset.
#We can use drop_first=True in order to avoid the problem of Multicollinearity.

df_cat = pd.get_dummies(df_cat[['color','size','price']],drop_first=True)
print(df_cat)

   size  price  color_green  color_white
0     1   10.1            1            0
1     2   20.1            0            0
2     1   30.1            0            1